version: "3.8"
services:
  sandbox:
    image: langgenius/dify-sandbox:a0c74d335e380d0a51595cdc0ad975a064a6127b
    env_file:
      - /data/sherlock/.env
    environment:
      API_KEY: ${SANDBOX_API_KEY}
      GIN_MODE: ${SANDBOX_GIN_MODE}
      WORKER_TIMEOUT: ${SANDBOX_WORKER_TIMEOUT}
      ENABLE_NETWORK: ${SANDBOX_ENABLE_NETWORK}
      HTTP_PROXY: ${SANDBOX_HTTP_PROXY}
      HTTPS_PROXY: ${SANDBOX_HTTPS_PROXY}
      SANDBOX_PORT: ${SANDBOX_PORT}
    volumes:
      - ./volumes/sandbox/dependencies:/dependencies
      - ./volumes/sandbox/conf:/conf
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8194/health"]
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 1G
        reservations:
          cpus: "0.5"
          memory: 200M
      mode: replicated
      placement:
        constraints:
          - node.role == manager
    networks:
      - nw_swarm
    ports:
      - "8194:8194"

  plugin_daemon:
    image: langgenius/dify-plugin-daemon:af760dd5981ef17e5aed30a1e6bb005ac6fea5c5-local
    env_file:
      - /data/sherlock/.env
    environment:
      DB_DATABASE: ${DB_PLUGIN_DATABASE:-shai_plugin}
      SERVER_PORT: ${PLUGIN_DAEMON_PORT:-5002}
      SERVER_KEY: ${PLUGIN_DAEMON_KEY:-lYkiYYT6owG+71oLerGzA7GXCgOT++6ovaezWAjpCjf+Sjc3ZtU+qUEi}
      MAX_PLUGIN_PACKAGE_SIZE: ${PLUGIN_MAX_PACKAGE_SIZE:-5368709120}
      PPROF_ENABLED: ${PLUGIN_PPROF_ENABLED:-false}
      DIFY_INNER_API_URL: ${PLUGIN_DIFY_INNER_API_URL:-http://api:5001}
      DIFY_INNER_API_KEY: ${PLUGIN_DIFY_INNER_API_KEY:-QaHbTe77CtuXmsfyhR7+vRjI/+XbV1AaFy691iy+kGDv2Jvy0/eAh8Y1}
      PLUGIN_REMOTE_INSTALLING_HOST: ${PLUGIN_DEBUGGING_HOST:-0.0.0.0}
      PLUGIN_REMOTE_INSTALLING_PORT: ${PLUGIN_DEBUGGING_PORT:-5003}
      PLUGIN_WORKING_PATH: ${PLUGIN_WORKING_PATH:-/app/storage/cwd}
      FORCE_VERIFYING_SIGNATURE: ${FORCE_VERIFYING_SIGNATURE:-true}
      PYTHON_ENV_INIT_TIMEOUT: ${PLUGIN_PYTHON_ENV_INIT_TIMEOUT:-600}
      PLUGIN_MAX_EXECUTION_TIMEOUT: ${PLUGIN_MAX_EXECUTION_TIMEOUT:-2400}
      PIP_MIRROR_URL: ${PIP_MIRROR_URL:-https://pypi.tuna.tsinghua.edu.cn/simple}
    volumes:
      - ./volumes/plugin_daemon:/app/storage
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 4G
        reservations:
          cpus: "0.5"
          memory: 200M
      mode: global
      placement:
        constraints:
          - node.role == manager
    networks:
      - nw_swarm
    ports:
      - "5002:5002"
      - "5003:5003"

  proxy:
    image: ubuntu/squid:latest
    environment:
      HTTP_PORT: ${SSRF_HTTP_PORT:-3128}
      COREDUMP_DIR: ${SSRF_COREDUMP_DIR:-/var/spool/squid}
      REVERSE_PROXY_PORT: ${SSRF_REVERSE_PROXY_PORT:-8194}
      SANDBOX_HOST: ${SSRF_SANDBOX_HOST:-sandbox}
      SANDBOX_PORT: ${SANDBOX_PORT:-8194}
    volumes:
      - ./volumes/ssrf_proxy/squid.conf.template:/etc/squid/squid.conf.template
      - ./volumes/ssrf_proxy/docker-entrypoint.sh:/docker-entrypoint-mount.sh
    entrypoint:
      [
        "sh",
        "-c",
        "cp /docker-entrypoint-mount.sh /docker-entrypoint.sh && sed -i 's/\r$$//' /docker-entrypoint.sh && chmod +x /docker-entrypoint.sh && /docker-entrypoint.sh",
      ]
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 1G
        reservations:
          cpus: "0.5"
          memory: 200M
      mode: replicated
      placement:
        constraints:
          - node.role == manager
    networks:
      - nw_swarm
    ports:
      - "3128:3128"

networks:
  nw_swarm:
    external: true
