<header>
    <div class="container">
        <div class="borderBlock"></div>
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="columns">
                    <div class="leftColumn">
                        <a href="/" class="logo"><img src="/landing/img/logo.svg" alt=""></a>
                        <ul id="menu">
                            <li><a href="/404" class="mWeight">О компании</a></li>
                            <li><a href="/products" class="mWeight">Продукты</a></li>
                            <li><a href="/404" class="mWeight">Кейсы</a></li>
                            <li><a href="/industries" class="mWeight">Отраслевые решения</a></li>
                            <li><a href="/404" class="mWeight">Как это работает</a></li>
                            <li><a href="/404" class="mWeight">Shai калькулятор</a></li>
                            <li><a href="/404" class="mWeight">Ресурсы</a></li>
                            <li><a href="/404" class="mWeight">FAQ</a></li>
                            <li><a href="/404" class="mWeight">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="rightColumn">
                        <div class="langs">
                            <a href="/" class="active">RU</a>
                            <a href="/en">EN</a>
                        </div>
                        <button class="defaultButton" onclick="showFormModal()">Связаться</button>
                        <button class="d-inline-flex d-sm-none burger" id="burger" onclick="$('body').toggleClass('burgerActive');">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="mobileMenu" class="d-block d-sm-none">
    <ul class="menu">
        <li><a href="/404" class="mWeight">О компании</a></li>
        <li><a href="/products" class="mWeight">Продукты</a></li>
        <li><a href="/404" class="mWeight">Кейсы</a></li>
        <li><a href="/industries" class="mWeight">Отраслевые решения</a></li>
        <li><a href="/404" class="mWeight">Как это работает</a></li>
        <li><a href="/404" class="mWeight">Shai калькулятор</a></li>
        <li><a href="/404" class="mWeight">Ресурсы</a></li>
        <li><a href="/404" class="mWeight">FAQ</a></li>
        <li><a href="/404" class="mWeight">Контакты</a></li>
    </ul>
    <button class="defaultButton lightStyle" onclick="showFormModal()">Связаться</button>
</div>
