.modalMain {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(7 13 24 / 50%);
  z-index: 99;
  display: none;
}

.modalMain > .modalBlock {
  background: #fff;
  display: block;
  border-radius: 24px;
  width: 540px;
  max-width: calc(100% - 30px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modalMain > .modalBlock p.label {
  font-size: 28px;
  display: block;
  margin: 0 auto 40px;
  text-align: center;
}

.modalMain > .modalBlock .close {
  position: absolute;
  right: 40px;
  top: 40px;
}

.modalMain > .modalBlock form {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.modalMain > .modalBlock form .formGroup {
  display: block;
  margin: 0 0 24px;
}

.modalMain > .modalBlock form .formGroup label {
  display: block;
  margin: 0 0 8px;
  font-weight: 500;
}

.modalMain > .modalBlock form .formGroup input {
  display: block;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #b8bfcb;
  width: 100%;
  font-weight: 400;
}

.modalMain > .modalBlock form .formGroup input::placeholder {
  color: #b8bfcb;
}

.modalMain > .modalBlock form button {
  margin: 40px auto 0;
  display: block;
  padding: 18px 24px;
}
.modalMain > .modalBlock .close svg,
.modalMain > .modalBlock .close svg * {
  color: #000;
  fill: #000;
  stroke: #000;
}

.modalMain > .modalBlock .close {
  opacity: 1;
  right: 24px;
  top: 30px;
}

.modalMain > .modalBlock .close svg {
  height: 24px;
  width: 24px;
}

.modalMain > .modalBlock .successBlock {
  display: block;
  width: 100%;
  position: relative;
  display: none;
}

.modalMain > .modalBlock .successBlock .successIcon {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #17b26a;
  position: relative;
}

.modalMain > .modalBlock .successBlock .successIcon svg {
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
}

.modalMain > .modalBlock .successBlock .successIcon svg * {
  color: #fff;
}

.modalMain > .modalBlock .successBlock .successTitle {
  font-size: 24px;
  text-align: center;
  display: block;
  margin: 24px 0 8px;
}

.modalMain > .modalBlock .successBlock p.text {
  font-size: 18px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.modalMain > .modalBlock {
  z-index: 2;
}

.modalMain > .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


header ul.langs {
  display: inline-flex;
  position: relative;
  margin: 0 15px 0 0;
  padding: 0;
  vertical-align: middle;
}

header ul.langs li {
  display: inline-flex;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

header ul.langs li + li {
  padding-left: 3px;
}

header ul.langs li + li:before {
  content: '/';
  margin: 0 4px 0 0;
  vertical-align: middle;
  display: inline-flex;
}

header ul.langs li a {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #181b20;
}

header ul.langs li a.active {
  color: #0E5F4C;
}

header ul.langs li a {
  font-size: 16px;
}


header ul.langs li + li {
  padding: 0;
  margin-left: 4px;
}

header ul.langs li a.active {
  font-weight: 500;
}

header ul.langs {
  margin-right: 18px;
}

.partnersList {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.partnersList img {
  width: calc(100% / 7 - 20px);
  height: auto;
  object-fit: contain;
}

button.customModalButton {
  display: block;
  margin: 14px 0 0;
  background: transparent;
  border: none;
  color: #0E5F4C;
  border-bottom: 2px solid;
  font-weight: 500;
  padding: 0;
  line-height: 1.1;
}

.partnerBlock #partnersList {
  display: block;
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: visible;
  padding: 0;
  transition: padding 0.3s;
  white-space: nowrap;
  margin: 25px 0 0;
  scrollbar-width: none;
}

.partnerBlock #partnersList::-webkit-scrollbar {
  display: none;
}

.partnerBlock #partnersList .item {
  display: inline-block;
  white-space: normal;
  position: relative;
  vertical-align: middle;
  padding: 0;
  margin: 0 30px;
}

.partnerBlock #partnersList .item img {
  display: table;
  height: 120px;
}
.partnerBlock .container {
  padding-bottom: 0 !important;
}

.partnerBlock #partnersList {
  margin-bottom: 84px;
}

p#forInvestorsText {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #375da7;
  line-height: 1.4;
  margin: -10px 0 25px;
  text-align: center;
  display: none;
}

/*Posts Block*/

#mainBlock .postsBlock > .container {
  padding-bottom: 0;
}

.container-fluid.postsBlock {
  padding-bottom: 80px;
}

.postsBlock .block p.category {
  display: none;
}



p.asterasLabsText {
  display: block;
  margin: 50px 0 10px;
}
p#forInvestorsText {
  color: #6f3600;
}
#mainBlock .postsBlock .postsList .block a.absoluteStyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.casesSlick {
    width: calc(100% + 24px);
    margin: 0 0 0 -12px;
}

.casesSlick .slick-slide {
    margin: 0 12px;
    opacity: 0;
    transition: .1s linear;
}

.casesSlick .slick-slide .block {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: .1s linear;
}

.casesSlick .slick-slide .block img {
    display: block;
    width: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.casesSlick .slick-slide .block p {
    display: block;
    margin: 0;
    padding: 0 24px;
    opacity: 0;
    position: absolute;
    bottom: 24px;
    z-index: 2;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 24px;
    line-height: 105%;
    min-height: 51px;
}

.casesSlick .slick-slide.slick-active, .casesSlick .slick-slide.slick-active.slick-center .block p {
    opacity: 1;
}

.casesSlick .slick-slide.slick-active.slick-center .block {
    background: #FDFAF4;
    border-radius: 24px;
    padding: 24px 24px 100px;
    box-shadow: 0 0 8px rgba(46,46,46,.05);
}

.casesSlick .slick-slide.slick-active.slick-center .block:hover {
    background: #0E5F4C;
}
.casesSlick .slick-slide.slick-active.slick-center .block:hover p {
    color: #F5F2EB;
}

.casesSlick .slick-slide {
    min-height: 470px;
    position: relative;
}

.casesSlick .slick-slide .block {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.col-sm-12.relativeBlock {
    position: relative;
}

.casesBlock button.arrow {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 11;
    box-shadow: 0 0 8px rgba(46,46,46,.05);
    background: #F6F5F2;
    border: 1px solid #F6F5F2;
}

.casesBlock button.arrow svg {
    top: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 50%;
}
.casesBlock button.arrow.left{
    left: 30px;
}
.casesBlock button.arrow.right{
    right: 30px;
}
.casesBlock button.arrow.left svg {
    transform: translate(-50%, -50%) rotate(90deg);
}
.casesBlock button.arrow.right svg {
    transform: translate(-50%, -50%) rotate(-90deg);
}
.casesSlick .slick-slide .block a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.caseInItem {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 24px;
  padding: 24px;
  background: url('/landing/img/cases/bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  transition: .1s linear;
  border: 1px solid transparent;
  margin: 0 0 30px;
  box-shadow: 0 0 8px rgba(46,46,46,.05);
}

.caseInItem .logoBlock {
  display: block;
  height: 100px;
  margin: 0 0 60px;
  width: 100%;
}

.caseInItem .logoBlock img {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: left center;
}

.caseInItem p.name {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.caseInItem:hover {
  border-color: #0E5F4C;
  cursor: pointer;
}

.container-fluid.casesPage {
  min-height: 70svh;
}


.caseModal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(7,13,24,.50);
  display: none;
}

.caseModal>.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.caseModal .contentBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #F6F5F2;
  border-radius: 32px;
  width: 860px;
  max-width: calc(100% - 30px);
  min-height: 200px;
  padding: 64px 40px;
}

.caseModal .contentBlock button.close {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  opacity: 1;
  font-weight: 100;
}

.caseModal .contentBlock button.close svg {
  height: 24px;
  width: 24px;
  font-weight: 100;
}

.caseInfoBox {
    display: block;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.caseInfoBox p.name {
    font-size: 40px;
    margin: 0 0 28px;
    padding: 0 0 28px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #d1c4b8;
}

.caseInfoBox p.text {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.caseInfoBox p.text+p.text {
    margin-top: 16px;
}

.caseInfoBox p.text span {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: calc(100% - 160px);
    font-size: 17px;
}

.caseInfoBox p.text span:first-child {
    width: 150px;
    font-size: 20px;
    font-weight: 600;
}

.vacancyItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 24px;
    padding: 30px 24px;
    background: #FDFCFA;
    border: 1px solid transparent;
    margin: 0 0 16px;
    box-shadow: 0 0 8px rgba(46, 46, 46, .05);
}

.vacancyItem p.name {
    display: flex;
    width: 100%;
    color: #3B2714;
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.vacancyItem p.tags {
    display: inline-block;
    max-width: 50%;
}

.vacancyItem .bottom {
    justify-content: space-between;
    align-items: end;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.vacancyItem .bottom .tags {
    display: inline-flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

.vacancyItem .bottom .tags span {
    display: inline-flex;
    margin: 0;
    padding: 6px 10px;
    border: 1px solid #2E2E2E;
    border-radius: 0 8px 0 8px;
    font-size: 16px;
    font-weight: 400;
}

.vacancyItem .bottom .tags span:nth-child(2) {
    color: #8B5A2B;
    border-color: #8B5A2B;
}

.vacancyItem .bottom .tags span:nth-child(3) {
    color: #0E5F4C;
    border-color: #0E5F4C;
}
.container-fluid.faqBlock.vacanciesPage {
    min-height: 70vh;
}

div#vacancy-item-block h2 {
    margin: 0 0 8px!important;
}

div#vacancy-item-block #city {
    margin: 0;
}

#vacancy-item-block button.defaultButton.linkStyle.beforeIcon {
    margin: 0 0 40px;
}

#vacancy-item-block button.defaultButton.linkStyle.beforeIcon svg {
    margin: -2px 6px 0 0;
}

div#vacancy-item-block h3 {
    font-size: 24px;
    margin: 40px 0 12px !important;
}

div#vacancy-item-block h3.first {
    margin-top: 60px !important;
}

.htmlBlock {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px !important;
    font-weight: 300 !important;
}

.htmlBlock * {
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 1.3 !important;
    margin: 0 0 5px;
}

.htmlBlock ul {
    display: block;
    padding: 0;
    margin: 0;
}

.htmlBlock ul li {
    display: block;
    padding: 0;
}
#vacancy-item-block .withMT {
    margin-top: 40px;
}

header .container ul.menu li {
    margin: 0;
    flex-grow: unset;
}

header .container ul.menu {
    gap: 20px;
    justify-content: space-around;
}

#mainBlock .priceBlock .block .bottomBlock button+button {
    margin-top: 12px;
}


.pricingDialog .caseInfoBox p.name span {
    display: block;
    margin: 20px 0 0;
    font-weight: 300;
    font-size: 16px;
}

.pricingDialog .caseInfoBox p.name span b {
    font-size: 24px;
}

.pricingDialog .caseInfoBox p.text.brown {
    font-size: 20px;
    font-weight: 500;
}

.pricingDialog .caseInfoBox p.text+p.text {
    margin-top: 24px;
}

.pricingDialog .caseInfoBox p.text b {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #0E5F4C;
    margin: 0 0 6px;
}

.pricingDialog .caseInfoBox p.text span {
    display: block;
    margin: 0;
    position: relative;
    padding-left: 20px;
}

.pricingDialog .caseInfoBox p.text span+span {
    margin-top: 8px;
}

.pricingDialog .caseInfoBox p.text span:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 4px;
    background: #3b2714;
    border-radius: 50%;
    left: 4px;
    top: 9px;
}

.caseInfoBox {
    max-height: 79vh;
    overflow: auto;
}

.caseInfoBox::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background: #ccc;
}
.caseInfoBox::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #0E5F4C;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
body.modalOpened {
    overflow: hidden;
}
button.defaultButton {}

.modalMain > .modalBlock form button[disabled] {
    background: #666;
    border-color: #666;
    opacity: 0.7;
}

@media (max-width: 1251px) {
  .partnersList {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partnersList img {
    width: calc(100% / 4 - 20px);
    max-height: 76px;
  }
    header .container ul.menu {
        gap: unset;
        display: block;
    }

    header .container ul.menu li {
        margin: 5px 10px;
        display: inline-block;
    }
}

@media (min-width: 678px) and (max-width: 1280px) {
  .col-md-6.col-lg-3 {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 925px) {
    header .text-right {
        white-space: nowrap;
    }
}
@media (max-width: 925px) {
  .modalMain > .modalBlock .successBlock .successTitle {
    font-size: 22px;
  }

  .modalMain > .modalBlock {
    padding: 40px 16px;
  }

  .modalMain > .modalBlock .successBlock p.text {
    font-size: 16px;
    max-width: 80%;
  }

  .modalMain > .modalBlock .close {
    top: 20px;
    right: 15px;
  }
  .modalMain > .modalBlock p.label {
    font-size: 24px;
  }

  .modalMain > .modalBlock form .formGroup input {
    font-size: 14px;
  }

  .modalMain > .modalBlock form button {
    margin-top: 32px;
    width: 100%;
    padding: 14px;
  }
  .mobileButtonsList {
    margin: 24px 0;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
  }

  .mobileButtonsList button {
    display: inline-block !important;
    margin: 0 !important;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 400;
    border-width: 2px;
  }


  header ul.langs {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);
  }

  header ul.langs li a {
    font-size: 18px;
  }

  header ul.langs li + li:before {
    font-size: 17px;
  }
  header ul.langs li a {
    font-size: 16px;
  }
  .partnersList img {
    width: calc(50% - 10px);
    margin: 0 0 30px;
  }

  .partnerBlock .container {
    padding-bottom: 0 !important;
  }

  .partnersList {
    justify-content: space-between;
  }
  button.customModalButton {
    margin-top: 6px;
  }

  .partnerBlock #partnersList .item {
    margin: 0 7px;
  }
  .partnerBlock #partnersList .item img {
    height: 60px;
  }

  .partnerBlock #partnersList {
    margin-top: 0;
  }

  .partnerBlock #partnersList .item img {
    height: 67px;
  }

  .partnerBlock #partnersList {
    margin-bottom: 30px;
  }
  p#forInvestorsText {
    margin: -25px auto 25px;
    font-size: 14px;
    font-weight: 400;
    max-width: 94%;
    line-height: 1.5;
  }

  footer .row > .col {
    width: 100%;
    flex-basis: unset;
  }

  .postsBlock .block {
    width: 300px;
    margin: 0;
  }

  .postsList {
    margin-bottom: 35px;
  }

  .container-fluid.postsBlock {
    padding-bottom: 40px;
  }
  footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }
    .casesSlick .slick-slide {
        opacity: 1;
    }

    .casesBlock button.arrow {
        display: none;
    }

    .casesSlick .slick-slide.slick-active.slick-center .block {
        padding: 15px 15px 80px;
    }

    .casesSlick .slick-slide .block p {
        font-size: 20px;
        bottom: 15px;
    }

    .casesSlick .slick-slide {
        min-height: 280px;
    }
    .caseInItem p.name {
        font-size: 20px;
    }

    .caseInItem .logoBlock {
        margin-bottom: 44px;
    }
    .caseModal .contentBlock {
        padding: 40px 24px;
        border-radius: 24px;
    }

    .caseInfoBox p.name {
        font-size: 24px;
        margin: 0 0 20px;
        padding: 0 0 20px;
    }

    .caseInfoBox p.text span {
        max-width: 100%;
        width: 100%;
        font-size: 15px;
    }

    .caseInfoBox p.text span:first-child {
        width: 100%;
        font-size: 16px;
        margin: 0 0 4px;
    }

    div#vacancy-item-block .text-right .defaultButton {
        display: block;
        width: 100%;
        margin: 20px 0 0;
    }

    div#vacancy-item-block h3.first {
        margin-top: 36px !important;
    }

    div#vacancy-item-block h3 {
        font-size: 18px;
    }

    .htmlBlock, .htmlBlock * {
        font-size: 14px !important;
    }

    div#vacancy-item-block h3 {
        margin-top: 24px !important;
    }

    #vacancy-item-block .withMT {
        width: 100%;
        display: block;
        margin-top: 24px;
    }

    #vacancy-item-block button.defaultButton.linkStyle.beforeIcon {
        margin-bottom: 24px;
    }

    .vacancyItem p.name {
        font-size: 20px;
    }

    .vacancyItem {
        padding: 16px;
        border-radius: 20px;
    }

    .vacancyItem .bottom {display: block;position: relative;margin: 0;}

    .vacancyItem .bottom .tags {
        display: block;
        margin: 0 0 15px;
        width: 100%;
        gap: unset;
        max-width: 100%;
    }

    .vacancyItem .bottom .tags span {
        display: inline-block;
        margin: 0 8px 8px 0;
        font-size: 14px;
    }

    .pricingDialog .caseInfoBox p.name span {
        font-size: 14px;
        margin: 12px 0 0;
    }

    .pricingDialog .caseInfoBox p.name span b {
        font-size: 18px;
    }

    .pricingDialog .caseInfoBox p.text b {
        font-size: 16px;
    }

    .pricingDialog .caseInfoBox p.text.brown {
        margin-bottom: 0 !important;
    }

    .pricingDialog .caseInfoBox p.text+p.text {
        margin-bottom: 0 !important;
    }

    .pricingDialog .caseInfoBox p.text span {
        font-size: 14px;
    }

    .pricingDialog .caseInfoBox p.text {
        max-width: 95%;
    }
}
